* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.intro h1 {
  font-size: 46px;
  font-family: Barlow;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
  color: #000;
  line-height: 1.3em;
  text-align: center;
}
.intro p {
  color: #000;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5em;
}
.content {
  margin: 40px 250px;
}
.content p{
    font-family: Barlow;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 1.6em;
    color: #000;
    padding: 0 150px;
}
.dropcap {
    font-size: 3em;
    display: block;
    margin-right: 10px;
    float: left;
    bottom: 0;
    word-break: break-word;
    font-size: 80px;
    line-height: 70px;
    font-family: Barlow;
    font-weight: 600;
}
.content-2{
    padding-left: 400px;
    padding-right: 400px;
}
.content-2 h3{
    font-size: 24px;
    font-family: Barlow;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
    color: #000;
    line-height: 1.5em;
}
.topic {
    padding: 30px 20px;
    background-color: #f8f8f8;
    margin-bottom: 50px;
    margin-top: 0;
}
.topic p{
    font-size: 15px;
    color: #000;
    font-family: Barlow;
    font-weight: 400;
    line-height: 1.6em;
}
.content-2 p{
    font-family: Barlow;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 1.6em;
    color: #000;
}
figure{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figcaption{
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 50px;
    text-align: center;
    color: #888;
}
.two-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
iframe {
    width: 100%; 
    height: 400px; 
}
.pro-details{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.details{
    padding-left: 20px;
}
.details h3{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.5em;
    color: #000;
    font-family: Barlow;
}

.details p{
    font-size: 24px;
    line-height: 1.5em;
    color: #000;
    font-family: Barlow;
}
.details input{
    width: 60px;
    height: 45px;
    outline: 0;
    line-height: inherit;
    text-align: center;
    padding: 0;
    border: 1px solid #888;
    border-radius: 4px;
    
}
.details input::placeholder{
    color: #000;
    font-family: Barlow;
    font-weight: 400;
    font-size: 14px;
}
.details button{
    background-color: #4c6347;
    color: #fff;
    font-size: 15px;
    font-family: Barlow;
    line-height: 1.2em;
    font-weight: 400;
    width: unset;
    padding: 13px 24px;
    border-radius: 2px;
    border: none;
}
.product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card h3{
    font-size: 15px;
    font-family: Barlow;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    line-height: 1.5em;
}
.card p{
    font-size: 15px;
    font-family: Barlow;
    font-weight: 400;
    color: #000;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card button{
    background-color: #4c6347;
    color: #fff;
    font-size: 15px;
    font-family: Barlow;
    line-height: 1.2em;
    font-weight: 400;
    width: 100%;
    padding: 13px 24px;
    border-radius: 2px;
    border: none;
}
.blog-section{
    background-color: #f8f8f8;
    padding-top: 65px;
    padding-bottom: 85px;
    padding-left: 150px;
    padding-right: 150px;

}
.blog-section h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5em;
    color: #000;
    font-family: Barlow;
    margin-top: 0;
}
.blog-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.blogposts a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.blogposts h4{
    font-size: 18px;
    line-height: 1.5em;
    color: #000;
    font-family: Barlow;
    margin-top: 20px;
}
.blogposts p{
    color: #888;
    font-family: Barlow;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5em;
}
/***** media query starts here  *****/  

@media(max-width:767px){
    .intro img{
        width: 90%;
    }
    .intro h1{
        font-size: 36px;
    }
    figure img{
        height: 210px;
    }
    .content{
        margin: 20px 10px;
    }
    .content p{
        padding: 0;
    }
    .content-2{
        padding-left: 20px;
        padding-right: 20px;
    }
    .two-images img{
        width: 100%;
        margin-bottom: 20px;
    }
    iframe {
        width: 100%; 
        height: 200px; 
    }
    .pro-details img{
        width: 100%;
    }
    .details{
        padding-left: 0;
        padding-top: 10px;
    }
    .product-cards{
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }
    .product-cards img{
        width: 100%;
        height: 300px;
    }
    .product-cards button{
        margin-bottom: 20px;
    }
    .blog-section{
        padding-left: 0px;
        padding-right: 0px;
    }
    .blog-list{
        flex-direction: column;
        justify-content: center;
    }
    .blog-list p{
        margin-bottom: 20px;
    }
}
    
